.header-container{
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header-text{
    margin-top: 0;
    margin-bottom: 0;
    text-align: end;
    margin-right: 10px;
    font-size: large;
    color: white;
}